releve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:element name="releve">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dateReleve" type="xsd:date"/> 
                <xsd:element name="solde" type="xsd:double"/> 
                <xsd:element name="operations" type="T_OPERATIONS"/> 
            </xsd:sequence>
            <xsd:attribute name="RIB" type="xsd:string" use="required"/> 
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="T_OPERATIONS">
        <xsd:sequence>
            <xsd:element name="operation" minOccurs="0" maxOccurs="unbounded" type="T_OPERATION"/>
        </xsd:sequence>
        <xsd:attribute name="dateDebut" type="xsd:date" use="required"/> 
        <xsd:attribute name="dateFin" type="xsd:date" use="required"/> 
    </xsd:complexType>

    <xsd:complexType name="T_OPERATION">
        <xsd:attribute name="type" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CREDIT"/>
                    <xsd:enumeration value="DEBIT"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="date" type="xsd:date" use="required"/>
        <xsd:attribute name="montant" type="xsd:double" use="required"/>
        <xsd:attribute name="description" type="xsd:string" use="optional"/>
    </xsd:complexType>

</xsd:schema>