releve.dtd

<!ELEMENT releve (dateReleve, solde, operations)>
<!ATTLIST releve RIB CDATA #REQUIRED>
<!ELEMENT dateReleve (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT operations (operation+)>
<!ATTLIST operations 
          dateDebut CDATA #REQUIRED
          dateFin CDATA #REQUIRED>
<!ELEMENT operation EMPTY>
<!ATTLIST operation
          type (CREDIT|DEBIT) #REQUIRED
          date CDATA #REQUIRED
          montant CDATA #REQUIRED
          description CDATA #IMPLIED>